
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #557b83;
}

header {
	background-color: #e5efc1;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #333;
	text-decoration: none;
}

main {
	max-width: 90%;
	align-items: center;
padding-left: 10%;}
    /* Books Section */


#books h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

#books ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center; /* Added property */
}


#books li {
  background-color: #fefefe;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; /* Added property */
}

#books li h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#books li p {
  margin-bottom: 10px; /* Added property */
}





#books li button {
	background-color: #007bff;
	color: #ffffff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#books li button:hover {
	background-color: #0069d9;
}

/* Cart Section */
#cart {
	margin: 50px 0;
}

#cart h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

#cart ul {
	list-style: none;
}

#cart li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #ffffff;
}

#cart li:last-child {
	border-bottom: none;
}

#cart li span {
	font-size: 16px;
	color: #666;
}

#cart button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

#cart button:hover {
	background-color: #0069d9;
}

/* Footer Section */
footer {
	background-color: #eee;
	padding: 10px;
	text-align: center;
	margin-top: 50px;
}

footer p {
	font-size: 14px;
	color: #666;
}
