* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

header {
  background-color: #007bff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

main {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

#books h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

#books ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjusted grid layout for larger book boxes */
  gap: 40px; /* Increased gap between book boxes */
}

#books li {
  background-color: #f8f9fa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px; /* Increased padding for more space inside the book box */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.book-info {
  display: none;
}


#books li h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

#books li p {
  margin-bottom: 10px;
}

#books li button {
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#books li button:hover {
  background-color: #138496;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

footer p {
  font-size: 14px;
  color: #666;
}
